* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #FBF8EF;
    color: #FBF8EF;
    line-height: 1;
}

.main-header {
    background-color: #FBF8EF;
    border: 1px solid #b48a8a;
    padding: 5px;
}

.header-content {
    text-align: left;
}

.site-title {
    color: #E46A41;
    font-size: 45px;
    text-decoration: wavy;
    font-family: Chalkduster, fantasy;
    font-weight: bold;
    text-align: center;
}

.main-nav {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 10px;
}

.nav-list a {
    color: maroon;
    text-decoration: none;
    background-color: #F0E8D9;
    padding: 2px 6px;
    border: 2px solid #b48a8a;
    font-size: 10px;
    margin: 5px;
}

.nav-list a:hover {
    color: #3A2F2A;
    background-color: #FB9B8F;
}

.main-content {
    padding: 10px;
}

.section {
    display: none;
    margin: 20px 0;
}

.section.active {
    display: block;
}

.hero-section {
    background-color: #FBF8EF;
    padding: 5px;
    text-align: center;
    border: 3px solid #b48a8a;
    margin: 10px;
}

.hero-title {
    font-size: 80px;
    font-family: Comic Sans Ms;
    color: #44444E;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hero-subtitle {
    font-size: 15px;
    font-family: Didot, serif;
    color: #E46A41;
    margin: 2px 0;
}

.search-container {
    margin-top: 10px;
    text-align: left;
}

.search-input {
    width: 225px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid maroon;
    border-radius: 8px;
    background-color: #ffffff;
    color: maroon;
}

.search-button {
    padding: 5px 10px;
    background-color: #F4B7A0;
    color: #3A2F2A;
    border: 1px solid #b48a8a;
    font-size: 10px;
    cursor: pointer;
}

.clear-button{
    padding: 5px 10px;
    background-color: #B7C985;
    color: #3A2F2A;
    border: 1px solid #b48a8a;
    font-size: 10px;
    cursor: pointer;
}

.filter-section {
    background-color: #FBF8EF;
    padding: 2px;
    margin: 5px 0;
}

.filter-section h3 {
    color: #E46A41;
    font-size: 15px;
    text-align: left;
    font-family: Didot, serif;
    margin: 5px;
}

.filter-buttons {
    margin-top: 10px;
}

.filter-btn {
    background-color: #F0E8D9;
    color: maroon;
    border: 2px solid #b48a8a;
    padding: 3px 6px;
    margin: 5px;
    font-size: 10px;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #F4B7A0;
    color: #3A2F2A;
}

.filter-btn:hover {
    background-color: #FB9B8F;
    color: #3A2F2A;
}

.recipes-section h2 {
    color: #E46A41;
    font-size: 20px;
    text-align: center;
    text-decoration: wavy underline;
    font-family: Chalkduster, fantasy;
}

.sort-controls {
    margin: 3px 0;
    text-align: right;
}

.sort-controls label {
    font-size: 15px;
    color: maroon;
}

.sort-dropdown {
    font-size: 12px;
    background-color: #F0E8D9;
    border: 1px solid maroon;
    padding: 2px;
    color: maroon;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto auto;
    gap: 5px;
    padding: 5px;
    margin-top: 20px;
    justify-items: center;
    align-content: center;
}

.recipe-card {
    border: 1px solid #b48a8a;
    background-color: #F0E8D9;
    margin: 5px 0;
    padding: 3px;
    width: 100%;
    text-align: left;
}

.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border: 1px solid maroon;
    display: block;
}

.recipe-title {
    font-size: 20px;
    color: #E46A41;
    margin: 1px 0;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: Chalkduster, fantasy;
    font-weight: bold;
    text-decoration: wavy;
    text-shadow: 1px 1px 1px maroon;
}

.recipe-category {
    font-size: 12px;
    color: #E46A41;
    padding: 1px;
    display: inline-block;
    text-transform: capitalize;
}

.recipe-time {
    font-size: 10px;
    color: maroon;
}

.recipe-difficulty {
    font-size: 10px;
    color: maroon;
}

.recipe-rating {
    font-size: 12px;
    color: maroon;
}

.recipe-description {
    font-size: 12px;
    color: #E46A41;
    margin: 2px 0;
    line-height: 1;
    font-family: sans-serif;
    padding: 1px;
}

.recipe-actions {
    margin-top: 2px;
}

.favorite-btn, .view-btn {
    background-color: #B7C985;
    color: maroon;
    border: 1px solid maroon;
    padding: 3px;
    font-size: 10px;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1px;
    
}

.favorite-btn.favorited {
    background-color: #FB9B8F;
    color: #3A2F2A;
}

.view-btn:hover, .favorite-btn:hover {
    background-color: #F4B7A0;
    color: #3A2F2A;
}

.no-results, .no-favorites {
    text-align: center;
    color: #E46A41;
    font-size: 15px;
    /* background-color: #F0E8D9; */
    padding: 5px;
    /* border: 2px solid #ff0000; */
    font-family: sans-serif;;
}

.about-section {
    background-color: #F0E8D9;
    padding: 5px;
    text-align: center;
}

.about-section h2 {
    color: #E46A41;
    font-size: 15px;
    text-decoration: underline;
    font-family: sans-serif;
}

.about-section p {
    font-size: 11px;
    color: #44444E;
    margin: 2px 0;
}

.stats {
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

.stat-item {
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin: 2px;
    background-color: #F4B7A0;
    color: maroon;
    padding: 2px;
    border: 1px solid maroon;
}

.stat-item h3 {
    font-size: 10px;
}

.stat-item p {
    font-size: 8px;
    color: #3A2F2A;
}

.main-footer {
    background-color: #F0E8D9;
    color: maroon;
    padding: 3px;
    text-align: center;
    border-top: 1px solid maroon;
}

.footer-content {
    font-size: 11px;
}

.footer-links {
    margin-top: 2px;
}

.footer-links a {
    text-decoration: none;
    margin-right: 2px;
    font-size: 9px;
    color: #3A2F2A;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FBF8EF;
    color: #3A2F2A;
    font-size: 12px;
    padding: 15px;
    margin: auto;
}

.modal-content {
    margin: 10% auto;
    padding: 10px;
    width: 300px;
    max-width: 90%;
    background-color: #F0E8D9;
    border: 3px solid maroon;
    padding: 5px;
}

.close-modal {
    color: #3A2F2A;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.modal-recipe-image {
    width: 40%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border: 1px solid maroon;
    float: left;
    margin-right: 5px;
}

.modal-recipe-title {
    font-size: 20px;
    color: maroon;
    margin: 2px 0;
    font-family: Chalkduster, fantasy;
    font-style: wavy;
    font-weight: bold;
    padding: 1px;
}

.modal-ingredients, .modal-instructions {
    margin: 5px 0;
}

.modal-ingredients h4, .modal-instructions h4 {
    font-size: 18px;
    color: maroon;
    text-decoration: underline;
}

.modal-ingredients ul, .modal-instructions ol {
    font-size: 12px;
    color: #3A2F2A;
    margin-left: 10px;
    padding: 3px;
}

.modal-ingredients li, .modal-instructions li {
    margin: 1px 0;
    line-height: 1;
}

@media (max-width: 768px) {
    .site-title {
        font-size: 30px;
    }
    
    .hero-title {
        font-size: 40px;
    }
    
    .search-input {
        width: 80px;
    }
    
    .recipe-card {
        margin: 3px 0;
    }
    
    .recipe-image {
        width: 100%;
        height: auto;
        object-fit: fill;
    }
}

@media (max-width: 480px) {
    .site-title {
        font-size: 20px;
    }
    
    .hero-title {
        font-size: 25px;
    }
    
    .nav-list li {
        display: block;
        margin: 1px 0;
    }
    
    .modal-content {
        width: 250px;
        margin: 20% auto;
    }
}